<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.suixingpay.meeting.mapper.MeetingMapper">
    <resultMap id="MeetingResultMap" type="com.suixingpay.meeting.pojo.Meeting">
        <id column="meeting_id" property="meetingId" jdbcType="INTEGER"/>
        <result column="meeting_initiation_type" property="meetingInitiationType" jdbcType="VARCHAR"/>
        <result column="meeting_user_id" property="meetingUserId" jdbcType="INTEGER"/>
        <result column="meeting_name" property="meetingName" jdbcType="VARCHAR"/>
        <result column="meeting_type" property="meetingType" jdbcType="VARCHAR"/>
        <result column="meeting_sponsor" property="meetingSponsor" jdbcType="VARCHAR"/>
        <result column="meeting_referral_code" property="meetingReferralCode" jdbcType="VARCHAR"/>
        <result column="meeting_charge" property="meetingCharge" jdbcType="INTEGER"/>
        <result column="meeting_start_time" property="meetingStartTime" jdbcType="TIMESTAMP"/>
        <result column="meeting_hours" property="meetingHours" jdbcType="INTEGER"/>
        <result column="meeting_address" property="meetingAddress" jdbcType="VARCHAR"/>
        <result column="meeting_detailed_address" property="meetingDetailedAddress" jdbcType="VARCHAR"/>
        <result column="meeting_enroll_end_time" property="meetingEnrollEndTime" jdbcType="TIMESTAMP"/>
        <result column="meeting_describe" property="meetingDescribe" jdbcType="VARCHAR"/>
        <result column="meeting_audit_status" property="meetingAuditStatus" jdbcType="INTEGER"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="referral_code" property="referralCode" jdbcType="VARCHAR"/>
        <result column="user_company" property="userCompany" jdbcType="VARCHAR"/>
        <result column="user_name" property="meetingUserName" jdbcType="VARCHAR"/>
        <result column="telephone" property="meetingUserPhone" jdbcType="VARCHAR"/>
        <result column="record_id" property="recordId" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="meeting_column_list">
        meeting_id,meeting_initiation_type,meeting_user_id,meeting_name,meeting_type,meeting_sponsor,
        meeting_referral_code,meeting_charge,meeting_start_time,meeting_hours,meeting_address,
        meeting_detailed_address,meeting_enroll_end_time,meeting_describe,meeting_audit_status
    </sql>
    <insert id="insertMeeting">
        insert into
        meeting (meeting_initiation_type,meeting_user_id,meeting_name,meeting_type,meeting_sponsor,
        meeting_charge,meeting_start_time,meeting_hours,meeting_address,meeting_detailed_address,
        meeting_enroll_end_time,meeting_describe,meeting_audit_status,meeting_referral_code)
        values (#{meetingInitiationType},#{meetingUserId},#{meetingName},#{meetingType},#{meetingSponsor},#{meetingCharge},
        #{meetingStartTime},#{meetingHours},#{meetingAddress},#{meetingDetailedAddress},#{meetingEnrollEndTime},#{meetingDescribe},0
     ,#{meetingReferralCode})
    </insert>

    <sql id="user_column_list">
        user_id,user_name,telephone,user_company,root_user_id,p_user_id,referral_code,level_no,user_province,
        user_city,create_date,update_date,status
    </sql>

    <select id="queryMeetingByUserId" parameterType="INTEGER" resultMap="MeetingResultMap">
        select
        <include refid="meeting_column_list"/>
        from meeting
        where meeting_user_id = #{meetingUserId} order by meeting_start_time
    </select>

    <select id="queryMeetingByReferralCode" parameterType="String" resultMap="MeetingResultMap">
        select
        <include refid="meeting_column_list"/>
        from meeting
        where meeting_referral_code = #{meetingReferralCode} order by meeting_start_time
    </select>

    <select id="queryMeetingByReferralCodeIsNull" resultMap="MeetingResultMap">
        select
        <include refid="meeting_column_list"/>
        from meeting
        where meeting_referral_code is null order by meeting_start_time
    </select>

    <select id="selectMeetingById" parameterType="INTEGER" resultMap="MeetingResultMap" >
        select <include refid="meeting_column_list"/>,user_name
        from meeting left join user on meeting_user_id = user_id
        where meeting_id = #{meetingId}
    </select>

    <select id="queryAllMeeting" parameterType="com.suixingpay.meeting.to.MeetingSel" resultMap="MeetingResultMap">
        select
            <include refid="meeting_column_list"/>,user_name,user_company
        from meeting left join user on meeting_user_id = user_id
        <where>
            <if test="meetingReferralCode!=null and meetingReferralCode!=''">
                meeting_referral_code = #{meetingReferralCode}
            </if>
            <if test="meetingCharge!=null and meetingCharge!=''">
                and meeting_charge = #{meetingCharge}
            </if>
            <if test="userCompany!=null and userCompany!=''">
                and user_company = #{userCompany}
            </if>
            <if test="meetingType!=null and meetingType!=''">
                and meeting_type = #{meetingType}
            </if>
            <if test="meetingInitiationType!=null and meetingInitiationType!=''">
                and meeting_initiation_type = #{meetingInitiationType}
            </if>
            <if test="meetingAuditStatus!=null and meetingAuditStatus!=''">
                and meeting_audit_status = #{meetingAuditStatus}
            </if>
            <if test="beginTime!=null and beginTime!=''">
                and meeting_start_time > #{beginTime}
            </if>
            <if test="endTime!=null and endTime!=''">
                and #{endTime} > meeting_start_time
            </if>
            <if test="meetingStatus==0">
                and meeting_audit_status !=2
            </if>
            <if test="meetingStatus==1">
                and meeting_audit_status =2 and meeting_enroll_end_time > NOW()
            </if>
            <if test="meetingStatus==2">
                and meeting_audit_status =2 and NOW() > meeting_enroll_end_time and meeting_start_time > NOW()
            </if>
            <if test="meetingStatus==3">
                and meeting_audit_status =2 and NOW() > meeting_start_time
            </if>
        </where>
    </select>

    <update id="updateMeeting" parameterType="com.suixingpay.meeting.pojo.Meeting">
        update meeting
        <trim prefix="SET" prefixOverrides=",">
            <if test="meetingInitiationType!=null">meeting_initiation_type=#{meetingInitiationType,jdbcType=VARCHAR}</if>
            <if test="meetingUserId!=null">,meeting_user_id=#{meetingUserId,jdbcType=VARCHAR}</if>
            <if test="meetingName!=null">,meeting_name=#{meetingName,jdbcType=VARCHAR}</if>
            <if test="meetingType!=null">,meeting_type=#{meetingType,jdbcType=VARCHAR}</if>
            <if test="meetingSponsor!=null">,meeting_sponsor=#{meetingSponsor,jdbcType=VARCHAR}</if>
            <if test="meetingReferralCode!=null">,meeting_referral_code=#{meetingReferralCode,jdbcType=VARCHAR}</if>
            <if test="meetingCharge!=null">,meeting_charge=#{meetingCharge,jdbcType=INTEGER}</if>
            <if test="meetingStartTime!=null">,meeting_start_time=#{meetingStartTime,jdbcType=TIMESTAMP}</if>
            <if test="meetingHours!=null">,meeting_hours=#{meetingHours,jdbcType=INTEGER}</if>
            <if test="meetingAddress!=null">,meeting_address=#{meetingAddress,jdbcType=VARCHAR}</if>
            <if test="meetingDetailedAddress!=null">,meeting_detailed_address=#{meetingDetailedAddress,jdbcType=VARCHAR}</if>
            <if test="meetingEnrollEndTime!=null">,meeting_enroll_end_time=#{meetingEnrollEndTime,jdbcType=TIMESTAMP}</if>
            <if test="meetingDescribe!=null">,meeting_describe=#{meetingDescribe,jdbcType=VARCHAR}</if>
            <if test="meetingAuditStatus!=null">,meeting_audit_status=#{meetingAuditStatus,jdbcType=INTEGER}</if>
        </trim>
        where meeting_id=#{meetingId,jdbcType=INTEGER}
    </update>

    <select id="selectAll" resultMap="MeetingResultMap" >
        select <include refid="meeting_column_list"/>
        from meeting
    </select>

<!--    根据会议id查找-->
    <select id="selectById" resultMap="MeetingResultMap">
        select <include refid="meeting_column_list"/>
        from meeting
        where meeting_id=#{meetingId,jdbcType=INTEGER}
    </select>
<!--    查询鑫管家自己创建的会议-->
    <select id="selectMeetingByUserId" resultMap="MeetingResultMap">
        select
        <include refid="meeting_column_list"/>,
        <include refid="user_column_list"/>
        from
            (select <include refid="meeting_column_list"/>,
             case when meeting_start_time &lt;= now() then 1 else 0 end as A,
             case when meeting_enroll_end_time &lt;= now() then 1 else 0 end as B
             from meeting
             where meeting_user_id = #{userId}
             order by meeting_audit_status,A,B,meeting_enroll_end_time,meeting_start_time) m
        left join user u on m.meeting_user_id = u.user_id
    </select>
<!--    查询会议详细信息-->
    <select id="selectMeetingDetails" resultMap="MeetingResultMap">
        select
        <include refid="meeting_column_list"/>,u.user_name ,u.telephone
        from
            (select
            <include refid="meeting_column_list"/>
            from meeting
            where meeting_id = #{meetingId}) m
        left join user u on m.meeting_user_id = u.user_id
    </select>
    
    <select id="selectMeetingAudited" resultMap="MeetingResultMap" >
        select
        <include refid="meeting_column_list"/>
        from meeting
        where meeting_audit_status=0
    </select>

    <select id="selectDate" resultMap="MeetingResultMap">
        select meeting_start_time,meeting_hours from meeting where  meeting_id =#{RecordMeetingId}
    </select>

    <select id="selectMeetingSelective" resultMap="MeetingResultMap" parameterType="com.suixingpay.meeting.pojo.Meeting">
        select <include refid="meeting_column_list"/>
        from meeting
        <trim prefix="where" prefixOverrides="and">
            <if test="meetingInitiationType!=null">meeting_initiation_type=#{meetingInitiationType,jdbcType=VARCHAR}</if>
            <if test="meetingUserId!=null">and meeting_user_id=#{meetingUserId,jdbcType=VARCHAR}</if>
            <if test="meetingName!=null">and meeting_name like concat('%',#{meetingName,jdbcType=VARCHAR},'%')</if>
            <if test="meetingType!=null">and meeting_type=#{meetingType,jdbcType=VARCHAR}</if>
            <if test="meetingSponsor!=null">and meeting_sponsor=#{meetingSponsor,jdbcType=VARCHAR}</if>
            <if test="meetingReferralCode!=null">and meeting_referral_code=#{meetingReferralCode,jdbcType=VARCHAR}</if>
            <if test="meetingCharge!=null">and meeting_charge=#{meetingCharge,jdbcType=INTEGER}</if>
            <if test="meetingStartTime!=null">and meeting_start_time=#{meetingStartTime,jdbcType=TIMESTAMP}</if>
            <if test="meetingAddress!=null">and meeting_address=#{meetingAddress,jdbcType=VARCHAR}</if>
            <if test="meetingDetailedAddress!=null">and meeting_detailed_address=#{meetingDetailedAddress,jdbcType=VARCHAR}</if>
            <if test="meetingEnrollEndTime!=null">and meeting_enroll_end_time=#{meetingEnrollEndTime,jdbcType=TIMESTAMP}</if>
            <if test="meetingDescribe!=null">and meeting_describe=#{meetingDescribe,jdbcType=VARCHAR}</if>
            <if test="meetingAuditStatus!=null">and meeting_audit_status=#{meetingAuditStatus,jdbcType=INTEGER}</if>
        </trim>
    </select>
</mapper>